.row {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 0;
  position: relative;
}

.row:last-child {
  padding-bottom: 1rem;
}

.label {
  font-size: 0.8rem;
  padding: 0.6rem 0.5rem;
  color: grey;
  text-align: left;
}

input {
  font-size: 1.2rem;
  font-weight: bold;
  background: white;
  border: none;
  padding: 0.6rem 0.5rem;
}

input:focus {
  border-color: red;
  border-radius: 0.5rem;
  background: red;
  outline: 0;
}

section.red .row {
  background: red;
}

section.red label {
  color: white;
}

section.red input {
  background: red;
  color: white;
  border-radius: 0.5rem;
}

section.yellow .row {
  background: #ffb423;
}

section.yellow input {
  background: #ffb423;
  text-align: center;
  border-radius: 0.5rem;
}

section.yellow input:focus {
  border-color: #ffb423;
  border-radius: 0.5rem;
  background: #ffb423;
  outline: 0;
}

section.yellow .label {
  color: black;
  text-align: center;
}

section.yellow .label:before,
section.yellow .label:after {
  position: absolute;
  margin-top: 0.4rem;
  background:grey;
  content: "";
  height: 1px;
  width: 100px;
}

section.yellow .label:before {
  left: 0.5rem;
}
section.yellow .label:after {
  right: 0.5rem;
}
